﻿@{
    ViewBag.Title = "Termeksport";
}
<div>
    <img src="~/Content/Images/standard-no-logo.png" />
</div>
<div class="jumbotron">
    <h1>Termeksport</h1>
    <p class="lead">For eksport av termer i xml format</p>
    <p>@Html.ActionLink("Generate XML", "GenerateXml", "Employee", new { @class = "btn btn-default" })</p>
</div>
