﻿@model IEnumerable<TermExport.Models.Terms>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Term</title>
</head>
<body>
    
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
            </th>
            
            <th>
            </th>
          
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
         
        </tr>
    }
    
    </table>
</body>
</html>
